@import "../../../scss/index.scss";
.newsletter {
  position: relative;
  h3 {
    color: $font-light;
    font-weight: bold;
    margin-bottom: 26px;
  }

  input {
    height: 35px;
    font-size: 14px;
  }

  button {
    width: 100%;
    height: 35px;
  }
}
