@import "../../../../scss/index.scss";

.add-edit-post-form {
  text-align: center;

  .ant-form-item {
    margin-top: 5px;
    margin-bottom: 5px;

    i {
      color: rgba(0, 0, 0, 0.25);
    }
  }
  .tox-tinymce {
    margin: 20px 0;
  }

  .btn-submit {
    width: 100%;
    font-weight: bold;
  }
}
