@import "../../../../index.scss";

.courses-list {
  &__course {
    margin-bottom: 50px;

    .ant-card {
      width: 90%;
      border: 0;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.23);
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.23);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.23);
      background-color: transparent;
    }

    .ant-card-meta-title {
      color: $font-light;
      font-weight: bold;
    }

    .ant-card-meta-description {
      color: $primary-color-dark;
    }

    button {
      width: 100%;
      margin-top: 30px;
      background-color: $primary-color-light;
      color: $font-light;
      border: 0;
      font-weight: bold;
      font-size: 15px;
      height: 40px;
      text-transform: uppercase;
    }

    &__footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;

      span {
        color: $font-light;
        font-size: 16px;
      }
    }
  }
}
