@import "../../../scss/index.scss";

.menu-top {
  display: flex;

  button {
    background-color: transparent;
    color: $font-light;

    &:hover {
      color: $primary-color;
    }

    &:focus,
    &:active {
      color: $font-light;
    }
  }

  &__left {
    &-logo {
      height: 64px;
      padding: 0 10px;
    }
  }

  &__right {
    position: absolute;
    right: 0;
  }
}
